header.main-header
	// Logo
	a.logo(ng-href='/admin')
		// mini logo for sidebar mini 50x50 pixels
		span.logo-mini
			b A
			| LT
		// logo for regular state and mobile devices
		span.logo-lg
			b Admin
			| LTE
	// Header Navbar: style can be found in header.less
	nav.navbar.navbar-static-top(role='navigation')
		// Sidebar toggle button
		a.sidebar-toggle(href='#' data-toggle='offcanvas' role='button')
			span.sr-only Toggle navigation
			|             
			span.icon-bar
			|             
			span.icon-bar
			|             
			span.icon-bar
		// Navbar Right Menu
		.navbar-custom-menu
			ul.nav.navbar-nav
				li
					a(ng-href='/' target='_blank')
						i.fa.fa-home
						|  Home
				// User Account: style can be found in dropdown.less
				li.dropdown.user.user-menu(ng-if='authUser != null')
					a.dropdown-toggle(ng-href='#' data-toggle='dropdown')
						img.user-image(ng-src='{{authUser.image}}' alt='User Image')
						|                         
						span.hidden-xs(ng-bind='authUser.name')
					|                     
					ul.dropdown-menu
						// User image
						li.user-header
							img.img-circle(src='{{authUser.image}}' alt='User Image')
							|                             
							p
								| {{authUser.name}} - Web Developer
								small Member since Nov. 2012
						// Menu Body
						li.user-body
							.col-xs-4.text-center
								a(href='#') Followers
							|                             
							.col-xs-4.text-center
								a(href='#') Sales
							|                             
							.col-xs-4.text-center
								a(href='#') Friends
						// Menu Footer
						li.user-footer
							.pull-left
								a.btn.btn-default.btn-flat(ng-href='/admin/profile') Profile
							|                             
							.pull-right
								a.btn.btn-default.btn-flat(ng-click='logout()') Sign out
				// Control Sidebar Toggle Button
				li
					a(href='#' data-toggle='control-sidebar')
						i.fa.fa-gears
