doctype html
html(lang='en' ng-app='Beep')
	head
		meta(charset='utf-8')
		|     
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		|     
		title AdminLTE 2 | Dashboard
		// Tell the browser to be responsive to screen width
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
		// Bootstrap 3.3.5
		link(rel='stylesheet' href='/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css')
		// Font Awesome
		link(rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css')
		// Theme style
		link(rel='stylesheet' href='/bower_components/AdminLTE/dist/css/AdminLTE.min.css')
		// AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load.
		link(rel='stylesheet' href='/bower_components/AdminLTE/dist/css/skins/_all-skins.min.css')
		// Notification
		link(rel='stylesheet' href='/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css')
		// Animate
		link(rel='stylesheet' href='/bower_components/animate.css/animate.min.css')
		// Select2
		link(rel='stylesheet' href='/bower_components/select2/select2.css')
		|     
		link(rel='stylesheet' href='/bower_components/select2/select2-bootstrap.css')
		// Bootstrap Duallistbox
		link(rel='stylesheet' href='/bower_components/bootstrap-duallistbox/dist/bootstrap-duallistbox.min.css')
		// Summernote
		link(rel='stylesheet' href='/bower_components/summernote/dist/summernote.css')
		// Style
		link(rel='stylesheet' href='/dist/css/qsoft.css')
		// Jquery
		script(src='http://code.jquery.com/jquery.min.js')
		// Angularjs
		script(src='/bower_components/angular/angular.min.js')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
			|             
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body.hold-transition.skin-blue.sidebar-mini(ng-controller='MainController' ng-init='getAuthenticatedUser()')
		.wrapper
			include header
			include sidebar
			// Content Wrapper. Contains page content
			.content-wrapper
				// Content Header (Page header)
				section.content-header
					h1
						| General Form Elements
						small Preview
					|                 
					ol.breadcrumb
						li
							a(href='#')
								i.fa.fa-dashboard
								|  Home
						|                     
						li
							a(href='#') Forms
						|                     
						li.active General Elements
				// Main content
				section.content(class='{{pageClass}}' ng-view='')
			// /.content-wrapper
			footer.main-footer
				.pull-right.hidden-xs
					b Version
					|  2.3.0
				|             
				strong
					| Copyright © 2014-2015 
					a(ng-href='http://almsaeedstudio.com') Almsaeed Studio
					| .
				|  All rights reserved.
			include control
		// ngRoute
		script(src='/bower_components/angular-route/angular-route.min.js')
		// Angular Animate
		script(src='/bower_components/angular-animate/angular-animate.min.js')
		// Restangular
		script(src='/bower_components/lodash/lodash.min.js')
		|     
		script(src='/bower_components/restangular/dist/restangular.min.js')
		// Satellizer
		script(src='/bower_components/satellizer/satellizer.min.js')
		// Storage
		script(src='/bower_components/ngstorage/ngStorage.min.js')
		// Upload
		script(src='/bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js')
		|     
		script(src='/bower_components/ng-file-upload/ng-file-upload.min.js')
		// Notification
		script(src='/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js')
		// Pagination
		script(src='/bower_components/angularUtils-pagination/dirPagination.js')
		// Select2
		script(src='/bower_components/select2/select2.min.js')
		|     
		script(src='/bower_components/angular-ui-select2/src/select2.js')
		// Summernote
		script(src='/bower_components/summernote/dist/summernote.min.js')
		|     
		script(src='/bower_components/angular-summernote/dist/angular-summernote.min.js')
		// Bootstrap duallistbox
		script(src='/bower_components/angular-bootstrap-duallistbox/dist/angular-bootstrap-duallistbox.min.js')
		|     
		script(src='/bower_components/bootstrap-duallistbox/dist/jquery.bootstrap-duallistbox.min.js')
		// Bootstrap
		script(src='/bower_components/AdminLTE/bootstrap/js/bootstrap.min.js')
		// AdminLTE App
		script(src='/bower_components/AdminLTE/dist/js/app.min.js')
		|     
		script(src='/bower_components/AdminLTE/dist/js/demo.js')
		// Angular App
		script(src='/dist/js/app.js')
