@import "variables";

.content {
	&.ng-leave {
		animation: fadeOutUp .5s;
		//opacity: 0;

		&.ng-leave-active {
			//opacity: 1;
		}

	}

	&.ng-enter {
		animation-delay: .5s;
		animation: fadeInUp .5s;
		opacity: 1;

		&.ng-enter-active {
			opacity: 0;
		}

	}

}