div(ng-controller='CommentController' ng-init='findEdit()')
	.row
		.col-sm-6.col-md-6.col-lg-6
			form(ng-submit='update()')
				.box
					.box-header.with-border
						h3.box-title Edit Comment
					| 					
					.box-body
						.form-group
							label(for='content') Content
							| 						
							textarea.form-control(ng-model='formData.content' rows='5')
							| 						
							p.text-danger(ng-bind='errors.content')
					| 					
					.box-footer
						button.btn.btn-primary Update
