div(ng-controller='PostController')
	.row
		.col-md-12.col-lg-12
			form(autocomplete='off' ng-submit='create()')
				.row
					.col-sm-6.col-md-6.col-lg-6
						.box.box-primary
							.box-header.with-border
								h3.box-title SEO
								| 								
								.box-tools.pull-right
									span.btn.btn-box-tool(data-widget='collapse')
										i.fa.fa-minus
									| 		                            
									span.btn.btn-box-tool(data-widget='remove')
										i.fa.fa-remove
							| 							
							.box-body
								// Name
								.form-group
									label(for='name') Name
									| 									
									input.form-control(type='text' ng-model='form.name' ng-required='true')
									| 									
									p.text-danger(ng-bind='errors.name')
								// Slug
								.form-group
									label(for='slug') Slug
									| 									
									input.form-control(type='text' ng-model='form.slug')
									| 									
									p.text-danger(ng-bind='errors.slug')
							| 							
							.box-footer
					| 					
					.col-sm-6.col-md-6.col-lg-6
						.box.box-info
							.box-header.with-border
								h3.box-title Infomation
								| 								
								.box-tools.pull-right
									span.btn.btn-box-tool(data-widget='collapse')
										i.fa.fa-minus
									| 		                            
									span.btn.btn-box-tool(data-widget='remove')
										i.fa.fa-remove
							| 							
							.box-body
								// Category
								.form-group
									label(for='category') Category
									| 									
									select.form-control(ng-model='form.category' multiple='' ui-select2='')
										option(ng-repeat='category in categories' value='{{category.id}}' ng-bind='category.name')
									| 									
									p.text-danger(ng-bind='errors.categories')
								// Tag
								.form-group
									label(for='tag') Tags
									| 									
									select.form-control(ng-model='form.tag' multiple='' ui-select2='')
										option(ng-repeat='tag in tags' value='{{tag.id}}' ng-bind='tag.name')
									| 									
									p.text-danger(ng-bind='errors.tags')
							| 							
							.box-footer
				| 				
				.row
					.col-sm-8.col-md-8.col-lg-8
						.box.box-success
							.box-header.with-border
								h3.box-title Content
								| 								
								.box-tools.pull-right
									span.btn.btn-box-tool(data-widget='collapse')
										i.fa.fa-minus
									| 		                            
									span.btn.btn-box-tool(data-widget='remove')
										i.fa.fa-remove
							| 							
							.box-body
								// Content
								.form-group(ng-controller='EditorController')
									summernote(config='options' ng-model='form.content')
									| 									
									p.text-danger(ng-bind='errors.content')
							| 							
							.box-footer
								button.btn.btn-info(type='submit') Create
					| 					
					.col-sm-4.col-md-4.col-lg-4
						.box.box-info
							.box-header.with-border
								h3.box-title Description
								| 								
								.box-tools.pull-right
									span.btn.btn-box-tool(data-widget='collapse')
										i.fa.fa-minus
									| 		                            
									span.btn.btn-box-tool(data-widget='remove')
										i.fa.fa-remove
							| 							
							.box-body
								// Description
								.form-group
									textarea.form-control(ng-model='form.description' rows='5')
									| 									
									p.text-danger(ng-bind='errors.description')
