extends ./../layout
.row
	table.table.table-hover
		thead
			tr
				th Name
				| 				
				th Slug
		| 		
		tfoot
			tr
				th Name
				| 				
				th Slug
		| 		
		tbody
			tr
				td
				| 				
				td
