{{-- resources/views/admin/user-manager/index.blade.php --}}

	<div ng-controller="UserManagerController" ng-init="getList()">
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title">List User</h3>
				<div class="box-tools">

				</div>
				<a ng-href="admin/user-manager/create" class="pull-right btn btn-success"><i class="fa fa-plus"></i></a>
			</div>
			<div class="box-body">
				<table class="table table-hover datatable">
					<thead>
						<tr>
							<th>Avatar</th>
							<th>Name</th>
							<th>Mail</th>
							<th>Role</th>
							<th>Options</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Avatar</th>
							<th>Name</th>
							<th>Mail</th>
							<th>Role</th>
							<th>Options</th>
						</tr>
					</tfoot>
					<tbody>
							<tr class="loop-item" ng-repeat="manager in managers">
								<td><img ng-src="@{{manager.image}}" alt="Avatar" class="img-circle" width="50px" /></td>
								<td ng-bind="manager.name"></td>
								<td><a href="mailto:@{{manager.email}}?subject=feedback">@{{manager.email}}</a></td>
								<td>
									<span class="label label-primary" ng-repeat="role in manager.roles" ng-bind="role.name"></span>
								</td>
								<td>
									<div class="btn-group">
										<a class="btn btn-info" ng-href="admin/user-manager/@{{manager.id}}/edit"><i class="fa fa-pencil"></i></a>
										<a class="btn btn-danger" ng-click="remove(manager)"><i class="fa fa-trash"></i></a>
									</div>
								</td>
							</tr>
					</tbody>
				</table>
			</div>
			<div class="box-footer">

			</div>
		</div>

	</div>