{{-- resources/views/admin/dashboard/index.blade.php --}}


<div class="row" ng-controller="DashboardController">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-green">
            <span class="info-box-icon">{!! FA::icon('users') !!}</span>
            <div class="info-box-content">
                <span class="info-box-text">User</span>
                <span class="info-box-number">{!! $countUser or 0 !!}</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 45%"></div>
                </div>
                <span class="progress-description">45% Increase in Week</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-green">
            <span class="info-box-icon">{!! FA::icon('file-text-o') !!}</span>
            <div class="info-box-content">
                <span class="info-box-text">Post</span>
                <span class="info-box-number">{!! $countPost or 0 !!}</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 96%"></div>
                </div>
                <span class="progress-description">96% Increase in Month</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
            <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-blue">
            <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Comments</span>
                <span class="info-box-number">{!! $countComment or 0 !!}</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 69%"></div>
                </div>
                <span class="progress-description">
    				69% Increase in Days
  				</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>

