.col-sm-9.col-md-9.col-lg-9(ng-controller='IndexController' ng-init='init()')
	article.row(ng-repeat='post in posts')
		br
		|         
		.col-md-2.col-sm-3.text-center
			a(ng-href='/author/{{post.user.slug}}-{{post.user.id}}')
				img.img-circle(ng-src='{{post.user.image}}' style='width:100px;height:100px')
		|         
		.col-md-10.col-sm-9
			h3
				a(ng-href='/p/{{post.slug}}-{{post.id}}' ng-attr-title='post.name' ng-bind='post.name')
			|             
			.row
				.col-sm-12.col-md-12.col-lg-12
					p(ng-bind='post.description')
					|                     
					p.pull-right
						i.fa.fa-tags
						| 						
						a.s-tag(ng-repeat='tag in post.tags' ng-href='/tag/{{tag.slug}}-{{tag.id}}' ng-bind='tag.name')
					|                     
					ul.list-inline
						li
							i.fa.fa-clock-o
							|  
							small(am-time-ago='post.created_at')
						|                         
						li
							a(ng-href='/p/{{post.slug}}-{{post.id}}#comment')
								i.fa.fa-comments
								|  {{post.comment_count}} 
								small comment
			|             
			br
