footer#footer
	.container(role='contentinfo')
		.row
			.col-sm-12
				.row
					.col-md-12
						a.pull-right(ng-href='https://www.facebook.com/theak007' rel='nofollow' target='ext') Thedollar
						|                         
						ul.list-inline
							li
								a(ng-href='https://github.com/chacbumbum/angular-nodejs' title='The Bootstrap Templates and Themes Project' rel='nofollow') GitHub Project
				|                 
				.row
					.col-md-4
						ul.list-unstyled
							li
								a(ng-href='http://getbootstrap.com' title='Official Bootstrap Site' rel='nofollow') Bootstrap
							|                             
							li
								a(ng-href='http://laravel.com/' title='Official Laravel Site' rel='nofollow') Laravel
					|                     
					.col-md-4
						ul.list-unstyled
							li
								a(ng-href='https://almsaeedstudio.com/AdminLTE' title='Admin LTE' rel='nofollow') AdminLTE
					|                     
					.col-md-4
		// /row
		.row
			.col-md-12
				p.text-right
					br
					|  MIT License. Built and Maintained by 
					a(ng-href='https://github.com/chacbumbum/angular-nodejs' rel='nofollow') Recycle Bin
					| .
		// /row
