{{-- resources/views/admin/permission/create.blade.php --}}

<div ng-controller="PermissionController">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">

			<div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create permission</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form autocomolete="off" ng-submit="create()">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" ng-model="formData.name" class="form-control">
                            <p class="text-danger" ng-bind="error.name"></p>
                        </div>
                        <div class="form-group">
                            <label for="slug">Permission key</label>
                            <input type="text" ng-model="formData.slug" class="form-control">
                            <p class="text-danger" ng-bind="error.slug"></p>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea ng-model="formData.description" class="form-control" rows="4"></textarea>
                            <p class="text-danger" ng-bind="error.description"></p>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
	</div>
</div>