{{-- resources/views/admin/role/index.blade.php --}}

	<div ng-controller="RoleController" ng-init="getList()">
		<div class="box">
			<div class="box-header with-border">
				<a ng-href="admin/role/create" class="pull-right btn btn-success"><i class="fa fa-plus"></i></a>
			</div>
			<div class="box-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>{!! trans('labels.name') !!}</th>
							<th>{!! trans('labels.option') !!}</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>ID</th>
							<th>{!! trans('labels.name') !!}</th>
							<th>{!! trans('labels.option') !!}</th>
						</tr>
					</tfoot>
					<tbody>
							<tr ng-repeat="role in roles">
								<td ng-bind="role.id"></td>
								<td ng-bind="role.name"></td>
								<td>
									<div class="btn-group">
										<a class="btn btn-info" ng-href="admin/role/@{{role.id}}/edit"><i class="fa fa-pencil"></i></a>
										<a ng-click="remove(role)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
									</div>
								</td>
							</tr>
					</tbody>
				</table>
			</div>
			<div class="box-footer">

			</div>
		</div>
	</div>