div(ng-controller='RoleController' ng-init='getList()')
	.box
		.box-header.with-border
			a.pull-right.btn.btn-success(ng-href='/admin/role/create')
				i.fa.fa-plus
		| 		
		.box-body
			table.table.table-hover
				thead
					tr
						th ID
						| 						
						th Name
						| 						
						th Option
				| 				
				tfoot
					tr
						th ID
						| 						
						th Name
						| 						
						th Option
				| 				
				tbody
					tr(ng-repeat='role in roles')
						td(ng-bind='role.id')
						| 						
						td(ng-bind='role.name')
						| 						
						td
							.btn-group
								a.btn.btn-info(ng-href='/admin/role/{{role.id}}/edit')
									i.fa.fa-pencil
								| 								
								a.btn.btn-danger(ng-click='remove(role)')
									i.fa.fa-trash
		| 		
		.box-footer
